

@media (min-width: 480px) and (max-width: 770px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .shop-card {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__pic {
      width: 32%;
    }

    &__options {}
}


.button-bar {
      display: flex;
      flex-direction: column;
      height: 100%;

&__button {
    border-left: .2rem blue solid;
}
}

}

//.dropdown {}
