body {
  margin: 0;
}

ul {
  padding-left: 2;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 0 auto;
  height: 20rem;
}
